{% extends 'admin/master.html' %}

{% block body %}

<style>
  body {
    font-family: 'lato', sans-serif;
  }

  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }

  h2 small {
    font-size: 0.5em;
  }

  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .responsive-table .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  .responsive-table .table-row {
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }


  .responsive-table .col-1 {
    flex-basis: 10%;
    text-align: center;
    justify-items: center;
  }

  .responsive-table .col-2 {
    flex-basis: 40%;
    text-align: center;
    justify-items: center;
  }

  .responsive-table .col-3 {
    flex-basis: 25%;
    text-align: center;
    justify-items: center;
  }

  .responsive-table .col-4 {
    flex-basis: 25%;
    text-align: center;
    justify-items: center;

  }

  @media all and (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }

    .responsive-table li {
      display: block;
    }

    .responsive-table .col {
      flex-basis: 100%;
    }

    .responsive-table .col {
      display: flex;
      padding: 10px 0;
    }

    .responsive-table .col:before {
      color: #6c7a89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }

  .row {
    display: flex;

  }

  .room {
    margin: 0 28px;
    font-size: 1rem;
  }

  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .button:hover {
    background-color: #95A5A6;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
</style>


<div class="container">


  <ul class="responsive-table">
    <li class="table-header">
      <div class="row">
        <div class="room" data-validate="Username is required">
          <span class="">Khách hàng/Cơ quan</span>
          <input class="" type="text" placeholder="Khách hàng/Cơ quan ...">

        </div>

        <div class="room" data-validate="Password is required">
          <span class="">Địa chỉ</span>
          <input class="" type="text" placeholder="Địa chỉ ...">
        </div>

        <div class="room" data-validate="Password is required">
          <span class="">Trị giá</span>
          <input class="" type="text" placeholder="Trị giá ...">
        </div>
      </div>



</li>

</ul>
</div>

<div class="container">

  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">STT</div>
      <div class="col col-2">Phòng</div>
      <div class="col col-2">số ngày thuê</div>
      <div class="col col-2">Đơn giá</div>
      <div class="col col-2">Thành tiền</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">1</div>
      <div class="col col-2" data-label="Customer Name">727</div>
      <div class="col col-2" data-label="Amount">5</div>
      <div class="col col-2" data-label="Amount">2,400,000$</div>
      <div class="col col-2" data-label="Payment Status">12,000,000$</div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="Job Id">2</div>
      <div class="col col-2" data-label="Customer Name">325</div>
      <div class="col col-2" data-label="Amount">2</div>
      <div class="col col-2" data-label="Amount">1,400,000$</div>
      <div class="col col-2" data-label="Payment Status">2,800,000$</div>
    </li>


  </ul>

  <div class="wrap">
    <button class="button">Submit</button>
  </div>

</div>



{% endblock %}