<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} TRANG CHU {% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    	<link rel="stylesheet" href="../../static/css/superfish.css">
	<!-- Owl Slider -->
	<!-- <link rel="stylesheet" href="../../static/css/owl.carousel.css"> -->
	<!-- <link rel="stylesheet" href="../../static/css/owl.theme.default.min.css"> -->
	<!-- Date Picker -->
	<link rel="stylesheet" href="../../static/css/bootstrap-datepicker.min.css">
	<!-- CS Select -->
	<link rel="stylesheet" href="../../static/css/cs-select.css">
	<link rel="stylesheet" href="../../static/css/cs-skin-border.css">

	<!-- Themify Icons -->
	<link rel="stylesheet" href="../../static/css/themify-icons.css">
	<!-- Flat Icon -->
	<link rel="stylesheet" href="../../static/css/flaticon.css">
	<!-- Icomoon -->
	<link rel="stylesheet" href="../../static/css/icomoon.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="../../static/css/flexslider.css">

	<!-- Style -->
	<link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>



<style>
    .header__navbar-user-img {
        width: 22px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }


</style>

<div id="fh5co-header">
    <header id="fh5co-header-section">
        <div class="container">
            <div class="nav-header">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                <h1 id="fh5co-logo"><a href="index.html">UTE hotel</a></h1>
                <nav id="fh5co-menu-wrap" role="navigation">
                    <ul class="sf-menu" id="fh5co-primary-menu">
                        <li><a class="active" href="index.html">Home</a></li>
                        <li>
                            <a href="hotel.html" class="fh5co-sub-ddown">Hotel</a>
                            <ul class="fh5co-sub-menu">
                                <li><a href="#">UTE Hotel</a></li>
                                <li><a href="#">Deluxe Hotel</a></li>
                                <li>
                                    <a href="#" class="fh5co-sub-ddown">King Hotel</a>
                                    <ul class="fh5co-sub-menu">
                                        <li>
                                            <a href="http://freehtml5.co/preview/?item=build-free-html5-bootstrap-template"
                                               target="_blank">Build</a></li>
                                        <li>
                                            <a href="http://freehtml5.co/preview/?item=work-free-html5-template-bootstrap"
                                               target="_blank">Work</a></li>
                                        <li>
                                            <a href="http://freehtml5.co/preview/?item=light-free-html5-template-bootstrap"
                                               target="_blank">Light</a></li>
                                        <li>
                                            <a href="http://freehtml5.co/preview/?item=relic-free-html5-template-using-bootstrap"
                                               target="_blank">Relic</a></li>
                                        <li>
                                            <a href="http://freehtml5.co/preview/?item=display-free-html5-template-using-bootstrap"
                                               target="_blank">Display</a></li>
                                        <li>
                                            <a href="http://freehtml5.co/preview/?item=sprint-free-html5-template-bootstrap"
                                               target="_blank">Sprint</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Five Star Hotel</a></li>
                            </ul>
                        </li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="blog.html">Blog</a></li>


                        <li><a href="/user-login">Login</a></li>


                        {% if current_user.is_authenticated %}
                            <li class="UserInfor">
                            <a class="padding6" href="/userInformation">
                                <img src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt=""
                                     class="header__navbar-user-img">
                                <span class="header__navbar-user-name">{{ current_user.name }}</span>
                            </a>
                            <ul class="fh5co-sub-menu">
                                <li class="">
                                    <a href="/userInformation">Xin chào!</a>
                                </li>
                                <li class="">
                                    <a href="/userInformation">Tài khoản của tôi</a>
                                </li>

                                <li class="">
                                    <a href="/user-logout">Đăng xuất</a>
                                </li>
                            </ul>

                            </li>
                        {% endif %}


                    </ul>
                </nav>
            </div>
        </div>
    </header>

</div>

<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(../../static/images/slider1.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span>UTE Hotel</span></p>
                                {% if msg %}
                                     <h2> {{ msg }}</h2>
                                {% endif %}

                                <p>
                                    <a href="/user-login" class="btn btn-primary btn-lg">Login</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../../static/images/slider2.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span>UTE Hotel</span></p>
                                <h2> Đăng ký thành công</h2>
                                <p>
                                    <a href="/user-login" class="btn btn-primary btn-lg">            Login         </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../../static/images/slider3.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span>UTE Hotel</span></p>
                                <h2> Đăng ký thành công</h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Login</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</aside>


    <!-- END fh5co-page -->

</div>
<!-- END fh5co-wrapper -->


	<!-- Javascripts -->
	<script src="../../static/js/jquery-2.1.4.min.js"></script>
	<!-- Dropdown Menu -->
	<script src="../../static/js/hoverIntent.js"></script>
	<script src="../../static/js/superfish.js"></script>
	<!-- Bootstrap -->
	<script src="../../static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../../static/js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="../../static/js/jquery.countTo.js"></script>
	<!-- Stellar Parallax -->
	<script src="../../static/js/jquery.stellar.min.js"></script>
	<!-- Owl Slider -->
	<!-- // <script src="../../static/js/owl.carousel.min.js"></script> -->
	<!-- Date Picker -->
	<script src="../../static/js/bootstrap-datepicker.min.js"></script>
	<!-- CS Select -->
	<script src="../../static/js/classie.js"></script>
	<script src="../../static/js/selectFx.js"></script>
	<!-- Flexslider -->
	<script src="../../static/js/jquery.flexslider-min.js"></script>

	<script src="../../static/js/custom.js"></script>


</body>


</html>