{% extends 'layout/base.html' %}

{% block title %}UTE HOTEL{% endblock %}


{% block content %}


    <link rel="stylesheet" type="text/css" href="../../static/css/LoginUser.css">

    <style>
        container {
            width: 100%;
        }

        @media (min-width: 576px) {
            .container {
                max-width: 540px
            }
        }

        @media (min-width: 768px) {
            .container {
                max-width: 720px
            }
        }

        @media (min-width: 992px) {
            .container {
                max-width: 960px
            }
        }

        @media (min-width: 1200px) {
            .container {
                max-width: 1140px
            }
        }

        .container-fluid {
            width: 100%;
            margin-right: auto;
            margin-left: auto
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px
        }


        h3.textInformation {
            font-size: 1.4rem !important;
            line-height: 2.6rem;
        }

        .boderItem {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
        }

        div h3 i {
            padding-right: 12px;
        }
    </style>
    <div id="fh5co-blog-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2>List your room</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if not err_msg %}
                    {% for item in rooms.values() %}
                        <div class="col-md-4">
                            <div class="blog-grid" style="background-image: url({{ item.image }});">
                            </div>

                            <div class="desc boderItem">
                                <h3 class="textInformation"><i class="ti-home"></i> {{ item.name }}</h3>
                                <h3 class="textInformation"><i class="ti-user"></i> Số người: {{ item.number_people }}
                                </h3>
                                <h3 class="textInformation"><i class="ti-crown"></i> Kiểu
                                    phòng: {{ item.get('Kiểu phòng') }}</h3>
                                <h3 class="textInformation"><i class="ti-star"></i> Loại
                                    giường: {{ item.get('Loại giường') }}</h3>
                                <h3 class="textInformation"><i class="ti-camera"></i> Tầm
                                    nhìn: {{ item.get('Tầm nhìn') }}</h3>
                                <h3 class="textInformation"><i class="ti-money"></i> Giá/1 ngày: {{ item.get('price') }}
                                </h3>
                                <div class="container-login100-form-btn"
                                     style="margin-top: 40px; display: flex; justify-content: center;">
                                    <div class="wrap-login100-form-btn">


                                        <h3><a href="/book_room/lap_phieu?room_id={{ item.id }}"
                                               class="login100-form-btn"
                                               style="background-color: #FF5722; color: white;">Thuê
                                            phòng</a></h3>

                                    </div>

                                </div>


                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>{{ err_msg}}</div>
                {% endif %}
            </div>
        </div>
    </div>

    <script src="../../static/js/bootstrap.min.js"></script>
{% endblock %}