{% extends 'layout/base.html' %}

{% block title %}UTE HOTEL{% endblock %}


{% block content %}


    <link rel="stylesheet" type="text/css" href="../../static/css/LoginUser.css">

    <style>
        container {
            width: 100%;
        }

        @media (min-width: 576px) {
            .container {
                max-width: 540px
            }
        }

        @media (min-width: 768px) {
            .container {
                max-width: 720px
            }
        }

        @media (min-width: 992px) {
            .container {
                max-width: 960px
            }
        }

        @media (min-width: 1200px) {
            .container {
                max-width: 1140px
            }
        }

        .container-fluid {
            width: 100%;
            margin-right: auto;
            margin-left: auto
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px
        }
        .tablePay{
            margin: 10px;
        }
        .alert.alert-info {
            width: 100%;
            background-color: #9EBF8F;
        }
    </style>
    <div id="fh5co-blog-section" style="padding: 28px;">
        <div class="container">


            <div class="onOneRow p-b-50">
                    <span class="login100-form-title ">
                        Danh sách đặt phòng chờ thanh toán
                    </span>



            </div>

            <div class="row tablePay">
                <table class="table table-bordered">
                    <tr>
                        <th>Mã phòng</th>
                        <th>Tên phòng</th>
                        <th>Giá/ 1 ngày $</th>
                        <th>Tổng tiền cơ bản $</th>
                        <th>Số tiền cần thanh toán trước $</th>
                        <th></th>
                    </tr>

                    {% if not session.get('cart') %}
                        <tr>
                            <td colspan="5">Bạn hiện không có phòng nào trong hàng chờ!!!</td>
                        </tr>
                    {% else %}
                        {% for item in session['cart'].values() %}
                            <tr id="product{{ item.id }}">
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.sum_price_basic }}</td>
                                <td>{{ item.phi_coc }}</td>
                                <td>
                                    <input type="button"
                                           value="Xóa"
                                           onclick="deleteCartItem({{ item.id }})"
                                           class="btn btn-danger"/>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
                {% if session.get('cart') %}
                    <div class="alert alert-info">
                        <ul>
                            <li><h3>Tổng số phòng: <span id="cart-quantity">{{ cart_stats.total_quantity }}</span></h3>
                            </li>
                            <li><h3>Tổng tiền cần thanh toán trước: <span
                                    id="cart-amount">{{ cart_stats.total_amount }}</span> $</h3>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>


            <div id="paypal-button-container" style="display: flex; justify-content: center;"></div>

            <!-- Include the PayPal JavaScript SDK -->
            <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

            <script>
                const amount = document.getElementById('cart-amount');
            </script>


            <script>
                // Render the PayPal button into #paypal-button-container
                paypal.Buttons({

                    // Set up the transaction
                    createOrder: function (data, actions) {
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: amount.textContent
                                }
                            }]
                        });
                    },

                    // Finalize the transaction
                    onApprove: function (data, actions) {
                        return actions.order.capture().then(function (orderData) {
                            // Successful capture! For demo purposes:
                            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                            var transaction = orderData.purchase_units[0].payments.captures[0];
                            {#alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');#}

                            alert('Transaction ' + transaction.status);

                            if (transaction.status == 'COMPLETED') {
                                pay()
                            }


                            // Replace the above to show a success message within this page, e.g.
                            // const element = document.getElementById('paypal-button-container');
                            // element.innerHTML = '';
                            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                            actions.redirect('/');
                        });
                    }


                }).render('#paypal-button-container');
            </script>
        </div>
    </div>

    <script src="../../static/js/bootstrap.min.js"></script>
{% endblock %}