<div id="fh5co-blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>List your room</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="blog-grid" style="background-image: url(../../static/images/image-1.jpg);">
                    <div class="date text-center">
                        <span>09</span>
                        <small>Aug</small>
                    </div>
                </div>
                <div class="desc">
                    <h3><a href="/MyRoomDetails">Phòng 274</a></h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-grid" style="background-image: url(../../static/images/image-2.jpg);">
                    <div class="date text-center">
                        <span>09</span>
                        <small>Aug</small>b
                    </div>
                </div>
                <div class="desc">
                    <h3><a href="/MyRoomDetails">Phòng 345</a></h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-grid" style="background-image: url(../../static/images/image-3.jpg);">
                    <div class="date text-center">
                        <span>09</span>
                        <small>Aug</small>
                    </div>
                </div>
                <div class="desc">
                    <h3><a href="/MyRoomDetails">Phòng 134</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>