<style>
    .informationContainer{
        padding: 0px !important;
        display: flex;
        justify-content: center;
        justify-items: center;
        margin-top: 36px;
        margin-bottom: 36px;
        /* width: auto; */
        /* height: 30px !important; */
    }

    .onOneRow{
        display: flex;
        width: 100%;
        margin: 20px auto;
    }

    .ColorTextGray{
        color: #999999 !important;
        
    }

    .font8rem{
        font-size: 8rem;
    }

    .colorWhite{
        color: white;
        text-decoration: none
    }

    
    
    
</style>


<div class="  p-r-50 p-t-72 p-b-50 container informationContainer">
  <div>
    <form class="login100-form validate-form">
        

        <div class="onOneRow">
            <span class="login100-form-title p-b-59">
                Đặt phòng nhanh
            </span>

            <span class="login100-form-title p-b-59">
                Giá : 0$
            </span>
        </div>
      

        <div class="a-col wrap-input100 validate-input ">
            <span class="label-input100 " >Loại phòng</span>
            <section class="backgroudP">
                <select class="cs-select cs-skin-border widthInput">
                    <option value="" disabled selected>Select Hotel</option>
                    <option value="email">Luxe Hotel</option>
                    <option value="twitter">Deluxe Hotel</option>
                    <option value="linkedin">Five Star Hotel</option>
                </select>
            </section>
        </div>
     

        <div class="wrap-input100 validate-input" data-validate="Name is required">
            <span class="label-input100">Check In</span>
            <input type="text" class="input100"" id="date-start" />
            <span class="focus-input100"></span>
        </div>
     
        <div class="onOneRow">
            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <span class="label-input100 font8rem">1</span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <span class="label-input100">Khách hàng</span>
                <input class="input100" type="text" name="name" placeholder="Khách hàng...">
                <span class="focus-input100"></span>
            </div>
    
            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <span class="label-input100">Loại khách</span>
                <input class="input100" type="text" name="email" placeholder="Loại khách...">
                <span class="focus-input100"></span>
            </div>
    
            <div class="wrap-input100 validate-input" data-validate="Username is required">
                <span class="label-input100">CMNN</span>
                <input class="input100" type="text" name="username" placeholder="CMNN...">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Username is required">
                <span class="label-input100">Địa Chỉ</span>
                <input class="input100" type="text" name="username" placeholder="Địa chị...">
                <span class="focus-input100"></span>
            </div>
        </div>

        <div class="onOneRow">
            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <span class="label-input100 font8rem">2</span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <span class="label-input100">Khách hàng</span>
                <input class="input100" type="text" name="name" placeholder="Khách hàng...">
                <span class="focus-input100"></span>
            </div>
    
            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <span class="label-input100">Loại khách</span>
                <input class="input100" type="text" name="email" placeholder="Loại khách...">
                <span class="focus-input100"></span>
            </div>
    
            <div class="wrap-input100 validate-input" data-validate="Username is required">
                <span class="label-input100">CMNN</span>
                <input class="input100" type="text" name="username" placeholder="CMNN...">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Username is required">
                <span class="label-input100">Địa Chỉ</span>
                <input class="input100" type="text" name="username" placeholder="Địa chị...">
                <span class="focus-input100"></span>
            </div>
        </div>
        

        <div class="onOneRow">

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>       
                        <button  class="login100-form-btn">
                            <a class="colorWhite" href="/RegisterRoomDetails"> Đặt phòng theo yêu cầu</a>
                        </button>                   
                </div>
            </div>

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn">
                        <a class="colorWhite">Thêm khách hàng</a>
                    </button>
                </div>
            </div>

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn">
                        <a class="colorWhite">Xoá khách hàng</a>
                    </button>
                </div>
            </div>

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn">
                        <a class="colorWhite">Gửi</a>
                    </button>
                </div>
            </div>
        </div>



        
    </form>
  </div>
</div>