{% extends 'layout/base.html' %}

{% block title %}UTE HOTEL{% endblock %}


{% block content %}


    <link rel="stylesheet" type="text/css" href="../../static/css/LoginUser.css">

    <style>
        container {
            width: 100%;
        }

        @media (min-width: 576px) {
            .container {
                max-width: 540px
            }
        }

        @media (min-width: 768px) {
            .container {
                max-width: 720px
            }
        }

        @media (min-width: 992px) {
            .container {
                max-width: 960px
            }
        }

        @media (min-width: 1200px) {
            .container {
                max-width: 1140px
            }
        }

        .container-fluid {
            width: 100%;
            margin-right: auto;
            margin-left: auto
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px
        }
    </style>
    <style>
        .informationContainer {
            padding: 0px !important;
            display: flex;
            justify-content: center;
            justify-items: center;
            margin-top: 36px;
            margin-bottom: 36px;
            /* width: auto; */
            /* height: 30px !important; */
        }

        .onOneRow {
            display: flex;
            width: 100%;
            margin: 20px auto;
        }

        .ColorTextGray {
            color: #999999 !important;

        }

        .font8rem {
            font-size: 8rem;
        }

        .colorWhite {
            color: white;
            text-decoration: none
        }


    </style>


    <div class="  p-r-50 p-t-72 p-b-50 container informationContainer">
        <div>

                <div class="onOneRow">
                    <span class="login100-form-title p-b-59">
                        {{msg}}
                    </span>
                </div>


                <div class="onOneRow">

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                <a href="/book_room?type=fast" class="colorWhite">Tiếp tục đặt phòng</a>
                            </button>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                <a href="/book_room?type=fast" class="colorWhite">Đến trang thanh toán</a>
                            </button>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <script src="../../static/js/bootstrap.min.js"></script>
{% endblock %}